@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

.banner {
	width:100%;
	display: block;
	padding: 0;
	margin: 0;

}

.banner-image {
	width:100%;
	display: block;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat';
	padding: 0;
	margin: 25px 25px 25px 25px;
    
}
h1 {

	text-align: center;
}

button.accordion {
    background-color: ash;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    margin-left: 10%;
    margin-right: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;

}

button.accordion.active, button.accordion:hover {
    background-color: #00478E;
    color:white;
}



div.panel {
    padding: 0 20px;
    background-color: white;
    margin-left: 10%;
}

/* Make Aflal proud! */ 

.tooltip {position:relative; z-index: 20;}
.tooltip span {display:none;}
.tooltip:hover {z-index: 21;}
.tooltip:hover span {
    
    display:block;
    width:300px;
    text-align: center;
    color:white;
    background:#535663;
    font-size:10sp;
    position:absolute;
    border-radius:10px;
    top:20px;
    
}
